<div class="panel panel-primary">


  <div class="panel-body">

    <!-- Main Info -->
    <h4>Main Info</h4>
        <p>Event Name: <%= @event.name %></p>
        <p>Event Description: <%= @event.description %></p>
        <p>Event Location: <%= @event.location %></p>
        <p>Event Price: <%= @event.price %></p>
        <p>Event Capacity: <%= @event.capacity %></p>
        <p>Event Food: <%= @event.includes_food %></p>
        <p>Event Drinks: <%= @event.includes_drinks %></p>
        <p>Event Starts at: <%= @event.starts_at %></p>
        <p>Event Ends at: <%= @event.ends_at %></p>


    <!-- <p>Host: <%= @event.user.email %></p> -->
    <!-- <p>Event Name: <%= @event.name %></p>
    <p>Event Type: <%= @event.description %></p> -->

    <p><%= @event.description%></p>

    <!-- About -->
    <!-- <h4>About</h4>
    <p><%= "A hackathon is a gathering where programmers
    collaboratively code in an extreme manner over a short period of time." %></p> -->

    <!-- Amenities -->


    </ul>

  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>

<h4>Themes</h4>
<% @themes.each do |theme| %>
  <span class="label label-success"><%= theme.name %></span>
<% end %>

<h4>Photos</h4>
<% @event.photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end %>
